body{
    font-size: 16px;
    color: #fff;
    background-color: #DFDFDF;
font-family: 'Oxygen', sans-serif;
}

/*HEADER*/
#header-nav {
    background-color:#ff8f5f;
    border-radius: 0;
    border: 0;
    height: 70px;
}
.navbar-brand {
    padding-top: 25px;
  }
  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color:#EDD83D;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: .75;
  }
  #nav-list{
    margin-top: 10px;
  }
#nav-list a{
  color: #A62639;
  text-align: center;
}
#nav-list a:hover{
  background: #e7e7e7;
}
.chickendesc{
  background-color: #AB0000;
  border-radius: 8px;
  border-style:ridge;
  height: 1000px;
  padding:4px 16px 16px;
}
.subheading{
  color: #A62639;
  font-weight: bold;
}
